.colorh {
	background:#4bcdcd;
	color:#fff;
}

.color2 {
	background:#ffffff;
	color:#000000;
}
.colorn {
	background:#ffffff;
	color:#000000;
	border:0;
}

.main{
	
	background:#f2f2f2
	
}

.color1{
	
	background: #34495e;
	color:#fff;
	
}
.colorletranegra{
	
	
	color:#000000;
	
}
.margen{
	
	margin-left: 3em;
	
}

aside{
	
	background:#c0392b;
	color:#fff;
	
}

/*footer{
	
	background: #16a085;
	color:#fff;
	
}*/

.backimage {
	
    background-image: url("../Imagen/Fondo3.png");

}
.fondo1 {
    
	background-color:#ffffff; /* o background-color:#000000; */
    opacity: 0.5;
    color: #000000;
	width: 450px;

}

.tabla2{
	
	color:#ffffff;
	background:#444444;
	width: 450px;
	margin-top: 3em;
	
}
ul#barr li:hover a {
	
    color:#4bcdcd;
	font-weight:bold;
	
}


